.signin{
    
    margin-left: auto;
    padding-right: 4px;
    margin-right: 10px;
    color:rgb(202, 197, 197);   
    font-size: 20px;
}
.signin a{
    color: rgb(202, 197, 197);
    text-decoration: none;
    border-bottom: solid 1px transparent;
    transition: color .2s ease-out, border-bottom-color .2s ease-out;
  

}
.signin a:hover{
    color: orange;
    border-bottom: solid 2px orange; 
}



.signout a{
    color:rgb(238, 228, 228) !important;
}

.signout a:hover{
    color: rgb(247, 38, 38) !important;
    border-bottom: solid 2px rgb(247, 38, 38); 
}

nav{   
    background-color:black;
    opacity: 0.8; 
}
.navbar-brand i{
    color: yellow !important;
}
.navbar-brand b{
    font-family: cursive;
    font-weight: 300;
}
.navbar{
    padding: 15px;
}