<div class="background">
    <div class="ptext">
        <div class="quote">
            <h3>
                There is one thing the
            </h3>
            <h2>photograph must contain,</h2>
            <h1> the <span><b>humanity</b></span> of the <span><b>moment</b></span></h1>
        </div>

        <a class="join btn btn-default section-btn" data-toggle="modal" routerLink="/signup">

      JOIN NOW
    </a>
    </div>
</div>
<!-- <div class="modal fade" id="joinNow" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Register Your Details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <i class="fa fa-user prefix grey-text"></i>
                    <input type="text" id="form34" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="form34">Name</label>
                </div>

                <div class="md-form mb-5">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <input type="email" id="email" name="email" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="email">Email</label>
                </div>

                <div class="md-form mb-5">
                    <i class="fa fa-user-circle-o prefix grey-text" aria-hidden="true"></i>
                    <input type="email" id="form29" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="form29">User Name</label>
                </div>

                <div class="md-form mb-5">
                    <i class="fa fa-phone prefix grey-text" aria-hidden="true"></i>
                    <input type="text" id="form32" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="form32">Phone Number</label>
                </div>

                <div class="md-form mb-5">
                    <i class="fa fa-unlock-alt prefix grey-text" aria-hidden="true"></i>
                    <input type="password" id="password" name="password" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="password">Password</label>
                </div>

                <div class="md-form mb-5">
                    <i class="fa fa-unlock-alt prefix grey-text" aria-hidden="true"></i>
                    <input type="text" id="form32" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="form32">Confirm Password</label>
                </div>


                <button type="submit" class="btn btn-danger" data-dismiss="modal">
                        Submit</button>
            </div>
        </div>
    </div>



</div> -->
